# Prerequisites
*.d

scm
config.txt

.vscode/

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#Qualquer diretório chamado build (e todos os arquivos dentro dele), mas deixa existir um arquivo chamado build
build/
#Todos os arquivos que começam com temp
temp*
#Qualquer diretório chamado configs
**/configs 
